table {
    width: 100%;
}

.mat-form-field {
    align-self: center;
    font-size: 14px;
    width: 90%;
    margin-top: 10px;
}

td,
th {
    width: 19%;
}

td,
th:last-child {
    width: 5%;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pattern-bg {
    background-image: url('src\assets\images\search-bg.jpg');
    background-size: contain;
    opacity: .55;
    height: 10em;
    width: 100%;
}

.warning {
    color: #ffbb33;
    font-weight: 700;
}

.danger {
    color: #ff4444;
    font-weight: 700;
}