<div class="container">
    <div class="overlay"></div>

    <div class="login">
        <div class="form-container">
            <h2 style="margin: 15px;">Bienvenido a la plataforma</h2>

            <div class="button-align">
                <button class="button" (click)="login()" mat-raised-button color="primary">Iniciar Sesión</button>
                <button class="button" (click)="login()" mat-raised-button color="primary">Registrarse</button>
            </div>

        </div>
    </div>
</div>